{% include "templates/head.html" %}
<div class="container">
    <h3>請輸入你想提供的食品名稱</h3>
    <hr/>
    <form>
        <div class="form-group">
            <label>食品名稱</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="例如：xxx 牛奶">
        </div>
        <div class="form-group">
            <label>公司名稱</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="例如：xxx 公司">
        </div>
        <div class="form-group">
            <label>條碼</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="例如: 1234567890123">
        </div>
        <div class="form-group">
            <label>食品的圖片</label>
            <input type="file" id="image">
                <!-- <p class="help-block">Example block-level help text here.</p> -->
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="例如: 黑心原料"></textarea>
        </div>
        <div class="form-group">
            <label>新聞連結</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="例如: https://tw.yahoo.com/">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% include "templates/footer.html" %}