{% include "templates/head.html" %}
<div class="create container wrapper">
    <span><a href="javascript:food.cancel()">搜尋</a></span> > <span>新增資料</span>
    <h3>請輸入你想提供的食品名稱</h3>
    <hr/>
    <validator name="validation1">
        <form class="form-horizontal" v-on:submit="onSubmit" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="red">*</span> 食品名稱</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="例如：xxx 牛奶" v-model="name" v-validate:name.required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="red">*</span> 公司名稱</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="company" name="company" placeholder="例如：xxx 公司 or xxx 集團" v-model="company" v-validate:company.required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">條碼</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="barcode" name="barcode" placeholder="例如：1234567890123" v-model="barcode">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">食品的圖片</label>
                <div class="col-sm-10">
                    <div id="image-preview" class="image-preview">
                        <div class="image-comment">
                            <label>圖片大小 320 x 320</label>
                        </div>
                    </div>
                    <div  class="image-upload">
                        <input type="file" id="image" name="image">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="red">*</span> 原因</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="description" name="description" placeholder="例如：黑心原料" v-model="description" v-validate:description.required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">新聞 or 網站連結</label>
                <div class="col-sm-10 hyperlink-group">
                    <ul>
                        <template v-for="data in hyperlinks">
                            <li class="hyperlink-item" transition="expand">
                                <label class="control-label">URL：</label>
                                <button type="button" class="btn" v-on:click="remove(data)" title="移除">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <input type="text" class="form-control" placeholder="例如：https://tw.yahoo.com" v-model="data.url" value="{{"{{data.url}}"}}"><br>
                                <label class="control-label">標題：</label>
                                <input type="text" class="form-control" placeholder="例如：yahoo 新聞" v-model="data.title" value="{{"{{data.title}}"}}"><br>
                                <label class="control-label">簡述：</label>
                                <textarea class="form-control" rows="3" placeholder="例如：xxx 廠商黑心原料" v-model="data.brief">{{"{{data.brief}}"}}</textarea>
                            </li>
                        </template>
                    </ul>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="例如：https://tw.yahoo.com" v-model="newlink" v-on:keydown.enter="insert()" v-bind:disabled="process">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" v-on:click="insert()" title="新增" v-bind:disabled="process">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" v-bind:disabled="$validation1.invalid" disabled>確定</button>
                    <button type="button" class="btn btn-default" v-on:click="cancel()">取消</button>
                </div>
            </div>
        </form>
     </validator>
</div>
{% include "templates/footer.html" %}
<script>
"use stric"
// var HyperlinkGroup = Vue.extend({
//     template: '',
//     method: {

//     }
// })
// Vue.component('hyperlink-group', HyperlinkGroup)
var hyperlinkGroup = new Vue({
    el: ".hyperlink-group",
    data: {
        process: false,
        hyperlinks:[]
    },
    methods: {
        insert: function() {
            if (this.newlink) {
                this.process = true;
                this.$http.get("/api/crawler?url=" + this.newlink, function (data, status, request) {
                    this.hyperlinks.push(data.result);
                    this.newlink = "";
                    this.process = false;
                }).error(function (data, status, request) {
                    console.log(data);
                    this.process = false;
                });
            }
        },
        remove: function(data) {
            this.hyperlinks.$remove(data)
        },
        value: function() {
            return this.hyperlinks;
        }
    }
});

// var food = new Vue({
//     el: ".create",
//     data: {},
//     methods: {
//         onSubmit: function(e) {
//             e.preventDefault();
//             var that = this;
//             var data = {
//                 name        : this.name,
//                 company     : this.company,
//                 barcode     : this.barcode,
//                 description : this.description,
//                 image       : imageUpload.getImage()
//             };
//             this.$http.post("/api/food", data, function (data, status, request) {
//                 window.location.href = "/food/" + data.result.id;
//             }).error(function (data, status, request) {
//             });
//         },
//         cancel: function() {
//             window.history.back();
//         }
//     }
// });
var imageUpload = new ImageUpload("image", "image-preview");
</script>