{% include "templates/head.html" %}
<div class="information container wrapper">
    <span><a href="javascript:food.back()">搜尋</a></span> > <span>{{food.name}}</span>
    <hr/>
    <div class="food-information">
        <form class="form-horizontal" v-show="!edit">
            <div class="form-group">
                <label class="col-sm-2 control-label">食品名稱</label>
                <div class="col-sm-10">
                    {{food.name}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">公司名稱</label>
                <div class="col-sm-10">
                    {{food.company}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">條碼</label>
                <div class="col-sm-10">
                    {{food.barcode}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">食品的圖片</label>
                <div class="col-sm-10">
                    {% if food.image %}
                        <img src="{{food.image}}" alt="{{food.name}}">
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">更新時間</label>
                <div class="col-sm-10">
                    {{food.update_time}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">建立時間</label>
                <div class="col-sm-10">
                    {{food.create_time}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">原因</label>
                <div class="col-sm-10">
                    {{food.description}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">網站連結</label>
                <div class="col-sm-10">
                    <ol class="news";>
                        {% for item in food.hyperlinks %}
                            <li>
                                <a href="{{item.url}}" target="_blank">{{item.title}}</a>
                                <div>
                                    {{item.brief}}
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" v-on:click="editor()">編輯</button>
                    <button type="button" class="btn btn-default" v-on:click="back()">返回上一頁</button>
                </div>
            </div>
        </form>
    </div>
    <div class="food-edit" v-show="edit" style="display: none">
        <validator name="validation1">
            <form class="form-horizontal" v-on:submit="onSubmit" novalidate>
                <input type="hidden" value="{{food.id}}" v-model="id">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="red">*</span> 食品名稱</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" value="{{food.name}}" placeholder="例如：xxx 牛奶" v-model="name" v-validate:name.required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="red">*</span> 公司名稱</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="company" name="company" value="{{food.company}}" placeholder="例如：xxx 公司 or xxx 集團" v-model="company" v-validate:company.required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">條碼</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="barcode" name="barcode" value="{{food.barcode}}" placeholder="例如：1234567890123" v-model="barcode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">食品的圖片</label>
                    <div class="col-sm-10">
                        <div id="image-preview" class="image-preview">
                            {% if food.image %}
                                <img src="{{food.image}}" alt="{{food.name}}">
                            {% else %}
                                <div class="image-comment">
                                    <label>圖片大小 320 x 320</label>
                                </div>
                            {% endif %}
                        </div>
                        <div  class="image-upload">
                            <input type="file" id="image" name="image">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">更新時間</label>
                    <div class="col-sm-10">
                        {{food.update_time}}
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">建立時間</label>
                    <div class="col-sm-10">
                        {{food.create_time}}
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label"><span class="red">*</span> 原因</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="description" name="description" placeholder="例如：黑心原料" v-model="description" v-validate:description.required>{{food.description}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">網站連結</label>
                    <div class="col-sm-10">
                        <hyperlink-group v-bind:hyperlinks="hyperlinks"></hyperlink-group>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" v-bind:disabled="$validation1.invalid || this.processing" disabled>確定</button>
                        <button type="button" class="btn btn-default" v-on:click="cancel()">取消</button>
                        <!-- || !$validation1.dirty -->
                    </div>
                </div>
            </form>
        </validator>
    </div>
</div>
{% include "templates/footer.html" %}
<script>
var links = {{food.hyperlinks_json | safe}};

var food = new Vue({
    el: '.information',
    data: {
        edit: false,
        processing: false,
        hyperlinks: links
    },
    methods: {
        onSubmit: function(e) {
            e.preventDefault();
            this.disabled = true;
            var that = this;
            var data = {
                name        : this.name,
                company     : this.company,
                barcode     : this.barcode,
                description : this.description,
                hyperlinks  : this.hyperlinks,
                image       : imageUpload.getImage()
            };
            this.$http.put('/api/food/' + this.id, data, function (data, status, request) {
                window.location.href = "/food/" + data.result.id;
                //this.edit = false;
                this.processing = false;
            }).error(function (data, status, request) {
                this.processing = false;
            });
        },
        editor: function() {
            this.edit = true;
        },
        cancel: function() {
            this.edit = false;
        },
        back: function() {
            window.history.back();
        }
    }
});

var imageUpload = new ImageUpload("image", "image-preview");
</script>