{% include "templates/head.html" %}
<div class="container wrapper">
    <div class="search">
        <div class="search-input input-group">
            <input type="text" class="form-control" id="q" name="q" value="{{q}}" placeholder="搜尋食品名稱 or 公司名稱 or 條碼的數字..." v-on:keydown.enter="search()">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" v-on:click="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- <button type="button" class="btn btn-primary">新增資料</button> -->
        <!--  v-for="data in list" -->
        <div class="result">
            <h3 v-show="!q" style="display:none">最新資料</h3>
            <h3 v-show="q" style="display:none">搜尋結果</h3>
            <div v-show="!find" style="display:none" class="alert alert-warning" role="alert">查詢不到資料 - <a href="/create">幫忙新增資料?</a></div>
            <div v-show="error" style="display:none" class="alert alert-danger" role="alert">伺服器爆肝了，請儘速聯絡管理員 (<a href="mailto:ffbli666@gmail.com">ffbli666@gmail.com</a>)</div>
            <ul>
                <template v-for="data in list">
                    <li>
                        <a v-bind:href="data.link">
                            <div class="food thumbnail">
                                <img v-bind:src="data.imageSrc" v-bind:alt="data.name">
                                <div class="caption">
                                    <h3>{{"{{data.name}}"}}</h3>
                                    <p>{{"{{data.description}}"}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>
{% include "templates/footer.html" %}
<script>
var foodList = new Vue({
    el: '.search',
    data: {
        list: [],
        q: "{{q}}",
        find: true,
        error: false
    },
    methods: {
        search: function() {
            var that = this;
            this.q = $("#q").val();
            window.history.pushState({}, "q=" + this.q, "/?q=" + this.q);
            this.$http.get("/api/food?q=" + this.q, function(data, status, request){
                that.list = [];
                data.result.list.forEach(function(element, index, array){
                    element.link = "/food/" + element.id;
                    element.imageSrc = (element.image) ? element.image : "/images/upload-image.png";
                    that.list.push(element);
                });
                if(that.list.length > 0)
                    that.find = true;
                else
                    that.find = false;
            }).error(function (data, status, request) {
                that.error = true;
            });
        }
    }
});

foodList.search("{{q}}");
</script>