{% include "templates/head.html" %}
<div class="container wrapper">
    <div class="search">
        <div class="search-input input-group">
            <input type="text" class="form-control" id="q" name="q" placeholder="搜尋食品名稱 or 公司名稱 or 條碼的數字...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" v-on:click="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- <button type="button" class="btn btn-primary">新增資料</button> -->
        <!--  v-for="data in list" -->
        <div class="result">
            <ul>
                <template v-for="data in list">
                    <li>
                        <a v-bind:href="data.link">
                            <div class="food thumbnail">
                                <img src="images/Koala.jpg" v-bind:alt="data.name">
                                <div class="caption">
                                    <h3 v-html="data.name"></h3>
                                    <p  v-html="data.description"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>
{% include "templates/footer.html" %}
<script>
var foodList = new Vue({
    el: '.search',
    data: {
        list: []
    },
    methods: {
        search: function() {
            var that = this;
            this.$http.get("api/food?q=" + $("#q").val(), function(data, status, request){
                that.list = [];
                data.result.list.forEach(function(element, index, array){
                    element.link = "food/" + element.id;
                    that.list.push(element);
                });
            }).error(function (data, status, request) {
            });
        }
    }
});
</script>