{% include "templates/head.html" %}
<div class="container">
    <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="搜尋食品名稱 or 公司名稱 or 條碼的數字...">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <!-- <button type="button" class="btn btn-primary">新增資料</button> -->
</div>
{% include "templates/footer.html" %}